/**
* CSS themes for simplePagination.js
* Author: Flavius Matis - http://flaviusmatis.github.com/
* URL: https://github.com/flaviusmatis/simplePagination.js
*/

ul.simple-pagination {
	list-style: none;
}

.simple-pagination {
	display: block;
	overflow: hidden;
	padding: 0 5px 5px 0;
	margin: 0;
}

.simple-pagination ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.simple-pagination li {
	list-style: none;
	padding: 0;
	margin: 0;
	float: left;
}
span.ellipse.clickable {
	cursor: pointer;
}

.ellipse input {
	width: 3em;
}

.light-theme a,
.light-theme span {
    float: left;
    color: #000;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    border: 1px solid #ccc;
    padding: 0 5px;
    margin: 0 5px 0 0;
    border-radius: 0;
    background: #fff;
    box-shadow: none;
}

.light-theme a:hover,
.light-theme li:not(.disabled):not(.active) span:hover {
    background: #eee;
    text-decoration: none;
}

.light-theme .current {
    background: #000;
    color: #fff;
    border-color: #000;
    cursor: default;
}

.light-theme .ellipse {
    background: none;
    border: none;
    box-shadow: none;
    font-weight: normal;
    cursor: default;
}
