<div class="container nav">
    <div class="horizontal-wrapper nav">
        <a href={{ absURL "index.html" }} class="brand w-nav-brand"><img src={{ absURL "images/full-logo.svg" }} loading="lazy"
                alt="Cambridge Networks Network" class="full-logo"></a>
        <nav role="navigation" id="w-node-aded51a1-b243-9ab4-5f72-ab2f728e6a8e-728e6a89" class="navigation w-nav-menu">
            <a href={{ absURL "events" }} class="nav-link text-link w-nav-link" onmouseover="updateGraph('E')">EVENTS</a>
            <a href={{ absURL "resources" }} class="nav-link text-link w-nav-link" onmouseover="updateGraph('R')">RESOURCES</a>
            <a href={{ absURL "people" }} class="nav-link text-link w-nav-link" onmouseover="updateGraph('P')">PEOPLE</a>
            <a href={{ absURL "become-a-node" }} aria-current="page"
                class="nav-link text-link button neutral w-nav-link w--current" onmouseover="updateGraph('B')">BECOME A NODE →</a>
        </nav>
        <a href="https://www.cam.ac.uk/" class="brand w-nav-brand" style="display: block; text-align: right;">
            <img src={{ absURL "images/Cambridge.svg" }} loading="lazy" alt="University of Cambridge Logo" class="full-logo" >
        </a>
        <div class="w-nav-button">
            <div class="w-icon-nav-menu"></div>
        </div>
    </div>
    <div class="horizontal-line"></div>
</div>